<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <span class="navbar-brand">BomBolo</span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="z-index: 1;">
        <span class="navbar-toggler" style="width:37px; margin:auto; cursor:pointer" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">X</span>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/loja">Loja</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/cadastro">Cadastrar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/historico">Histórico</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-danger" href="/logout">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
